# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Environment
.env

# Xenova / Transformers cache
backend/node_modules/@xenova/
backend/node_modules/@xenova/transformers/.cache/

# OS
.DS_Store
Thumbs.db
